@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    /* Pure white */
    --foreground: 240 10% 3.9%;
    /* Zinc 950 */

    --card: 0 0% 100%;
    /* White */
    --card-foreground: 240 10% 3.9%;
    /* Zinc 950 */

    --popover: 0 0% 100%;
    /* White */
    --popover-foreground: 240 10% 3.9%;
    /* Zinc 950 */

    --primary: 240 5.9% 10%;
    /* Zinc 900 (Black) */
    --primary-foreground: 0 0% 98%;
    /* White */

    --secondary: 240 4.8% 95.9%;
    /* Zinc 100 */
    --secondary-foreground: 240 5.9% 10%;
    /* Zinc 900 */

    --muted: 240 4.8% 95.9%;
    /* Zinc 100 */
    --muted-foreground: 240 3.8% 46.1%;
    /* Zinc 500 */

    --accent: 240 4.8% 95.9%;
    /* Zinc 100 */
    --accent-foreground: 240 5.9% 10%;
    /* Zinc 900 */

    --destructive: 0 84.2% 60.2%;
    /* Red */
    --destructive-foreground: 0 0% 98%;
    /* White */

    --border: 240 5.9% 90%;
    /* Zinc 200 */
    --input: 240 5.9% 90%;
    /* Zinc 200 */
    --ring: 240 10% 3.9%;
    /* Zinc 950 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}